<div class="key-edit-container">
    <h3 class="margin-0 margin-bottom-lg">
        <strong>{{key.key}}</strong> bearbeiten
    </h3>

    <div class="key-edit-form">
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="key">Key</label>
                    <input type="text" disabled="disabled" class="form-control" id="key" value="{{key.key}}">
                </div>
            </div>
            <div class="col-xs-6" *ngFor="let translation of key.translations">
                <div class="row">
                    <div class="col-xs-11">
                        <div class="form-group">
                            <label for="{{translation.language}}">
                                Übersetztung {{translation.language}}
                                <span class="glyphicon glyphicon-trash key-edit-remove-translation" aria-hidden="true"></span>
                            </label>
                            <input type="text" class="form-control" value="{{translation.value}}" id="{{translation.language}}" placeholder="Übersetztung">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="col-xs-11 padding-0">
                    <button class="btn btn-primary btn-block add-language-btn" (click)="addLanguage()">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        Sprache hinzufügen
                    </button>
                </div>
            </div>
        </div>

        <button class="btn btn-success key-edit-save-btn margin-top-lg margin-bottom-lg">
            <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
            Speichern
        </button>
        <div style="clear: both;"></div>
    </div>

</div>