<div class="key-edit-container" *ngIf="render">
    <h2 class="margin-0 margin-bottom-lg">
        {{keyModel.key}}
    </h2>

    <form class="key-edit-form" (ngSubmit)="saveKey(form)" #form="ngForm">
        <div class="row">

            <input type="hidden" name="createdAt" class="form-control" [ngModel]="keyModel.createdAt">
            <input type="hidden" name="modifiedAt" class="form-control" [ngModel]="keyModel.modifiedAt">
            
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="key">Key</label>
                    <input type="text" name="key" class="form-control" [(ngModel)]="keyModel.key" required>
                </div>
            </div>
            <div class="col-xs-6" *ngFor="let translation of keyModel.translations">
                <div class="row">
                    <div class="col-xs-11">
                        <div class="form-group">
                            <label for="{{translation.language}}" (click)="removeLanguage(translation.language)">
                                Übersetztung {{translation.language}}
                                <span class="glyphicon glyphicon-trash key-edit-remove-translation" aria-hidden="true"></span>
                            </label>
                            <input type="text" [name]="translation.language" class="form-control" [(ngModel)]="translation.value" placeholder="Übersetztung">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6" *ngIf="possibleLanguages.length > 0">
                <div class="col-xs-3 padding-0 possible-languages-container">
                    <select class="form-control key-edit-select-language" #languageSelect>
                        <option *ngFor="let language of possibleLanguages" [value]="language">
                            {{language}}
                        </option>
                    </select>
                </div>
                <div class="col-xs-9 padding-0 add-language-btn-container">
                    <div class="btn btn-primary btn-block add-language-btn" (click)="addLanguage(languageSelect.value)">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        Sprache hinzufügen
                    </div>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-success key-edit-save-btn margin-top-lg margin-bottom-lg" [disabled]="!form.valid">
            <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
            Speichern
        </button>
        <div style="clear: both;"></div>
    </form>

</div>