.versions-table {

    & .number {
        width: 2%;
    }

    & .title {
        width: 20%;
    }

    & .description {
        width: 20%;

        & .description-text {
            height: 35px;
            overflow: auto;
        }
    }


    & .createdAt {
        width: 15%;
    }

    & .environment {
        width: 10%;

        & ul li {
            list-style: none;
        }

        & .env-name {
            display: block;
            margin-bottom: 5px;
            border-bottom: 1px solid #ffffff;
        }
    }

    & .actions {
        text-align: right;
        // width: 5%;
        // float: right;
    }


}