<div class="key-list-container">

    <div class="form-group margin-top-lg">
        <div class="input-group">
            <div class="input-group-addon">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </div>
            <input type="text" class="form-control" placeholder="Key" #keySearchValue (keyup)="0">
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 margin-bottom-md">
            <strong>
                Fehlende Übersetzungen filtern
            </strong>
        </div>
        <div class="col-xs-12 language-filter-list-container margin-bottom-lg">
            <button *ngFor="let lang of languages" type="button" [ngClass]="selectedLanguage == lang ? 'active' : ''" class="btn language-filter-btn" (click)="filterLanguage(lang)">
                {{lang}}
            </button>
            <button type="button" class="btn language-filter-remove-btn btn-block" (click)="filterLanguage(false)">
                Filter entfernen
            </button>
        </div>
    </div>

    <button class="btn btn-success btn-block margin-bottom-lg" [routerLink]="['new']">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        Neuen Sprachkey erstellen
    </button>

    <ul class="key-list">
        <app-key-list-item *ngFor="let key of keys | keyFilter : [selectedLanguage, keySearchValue.value]" [key]="key"></app-key-list-item>
    </ul>
</div>