@import "src/assets/_variables";

.key-list-container {
    background: $container-background;
    padding: $base-padding;

    & .key-list {
        list-style: none;
        padding: 0;

        & .key-list-item {
            padding: $base-padding;
            border: 1px solid #ffffff;
            margin: 5px;

            & .key-list-item-name {
                display: inline-block;
                padding: 7px;
                font-size: 16px;
            }

            & .key-list-action-container {
                float: right;

                & .btn {
                    margin: 0 5px;
                    font-size: 16px;            
                    padding-top: 7px;
                    padding-bottom: 7px;
                }
            }

        }

    }

}
