@import "src/assets/_variables";

.key-list-container {
    background: $container-background;
    padding: $base-padding;

    & .key-list {
        list-style: none;
        padding: 0;
        max-height: 500px;
        overflow-y: scroll;
    }

}
