@import "src/assets/_variables";

.key-list-item {
    padding: $base-padding;
    border-bottom: 1px solid;
    border-color: #ffffff;
    margin: 5px;

    &:hover,
    &.active {
        background-color: rgba(2, 18, 29, 0.8);
    }

    & .key-list-item-name {
        display: inline-block;
        padding: 7px;
        font-size: 16px;
    }

    & .key-list-action-container {
        float: right;

        & .btn {
            margin: 0 5px;
            font-size: 16px;            
            padding-top: 7px;
            padding-bottom: 7px;
        }
    }
}