@import "./_variables";

.margin-0 {
    margin: 0;
}

.margin-xs {
    margin: $distance-xs;
}

.margin-sm {
    margin: $distance-sm;
}

.margin-md {
    margin: $distance-md;
}

.margin-lg {
    margin: $distance-lg;
}

.margin-xl {
    margin: $distance-xl;
}

.margin-top-0 {
    margin-top: 0;
}

.margin-top-xs {
    margin-top: $distance-xs;
}

.margin-top-sm {
    margin-top: $distance-sm;
}

.margin-top-md {
    margin-top: $distance-md;
}

.margin-top-lg {
    margin-top: $distance-lg;
}

.margin-top-xl {
    margin-top: $distance-xl;
}

.margin-bottom-0 {
    margin-bottom: 0;
}

.margin-bottom-xs {
    margin-bottom: $distance-xs;
}

.margin-bottom-sm {
    margin-bottom: $distance-sm;
}

.margin-bottom-md {
    margin-bottom: $distance-md;
}

.margin-bottom-lg {
    margin-bottom: $distance-lg;
}

.margin-bottom-xl {
    margin-bottom: $distance-xl;
}

.padding-0 {
    padding: 0;
}

.padding-xs {
    padding: $distance-xs;
}

.padding-sm {
    padding: $distance-sm;
}

.padding-md {
    padding: $distance-md;
}

.padding-lg {
    padding: $distance-lg;
}

.padding-xl {
    padding: $distance-xl;
}

.padding-top-0 {
    padding-top: 0;
}

.padding-top-xs {
    padding-top: $distance-xs;
}

.padding-top-sm {
    padding-top: $distance-sm;
}

.padding-top-md {
    padding-top: $distance-md;
}

.padding-top-lg {
    padding-top: $distance-lg;
}

.padding-top-xl {
    padding-top: $distance-xl;
}

.padding-bottom-0 {
    padding-bottom: 0;
}

.padding-bottom-xs {
    padding-bottom: $distance-xs;
}

.padding-bottom-sm {
    padding-bottom: $distance-sm;
}

.padding-bottom-md {
    padding-bottom: $distance-md;
}

.padding-bottom-lg {
    padding-bottom: $distance-lg;
}

.padding-bottom-xl {
    padding-bottom: $distance-xl;
}