$font-family: 'Roboto', sans-serif;

$container-background: rgba(2, 18, 29, 0.40);
// $container-background: rgba(82, 151, 214, 0.50);
// $container-background: rgba(58, 109, 156, 0.30);

$transition-all: all .3s ease;

$screen-xs-max: 768px;
$screen-sm-max: 992px;
$screen-md-max: 1200px;

$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

$distance-xs: 5px;
$distance-sm: 7px;
$distance-md: 10px;
$distance-lg: 15px;
$distance-xl: 25px;

$base-padding: 10px;